/* =================================
  Base Element Styles
==================================== */

body {
	line-height: 1.6;
	color: #000000;
}

a {
	color: #000000;
	text-decoration: none;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Layout Containers ---- */

.container {
	padding-left: 1em;
	padding-right: 1em;
}
.main-header {
	background: #fafafa;
}

.main-footer {
	padding: 2em 0;
	background: #fafafa;
}

/* ---- Page Elements ---- */
#home {
  background-image: url('Images/responsive-layout-profile.png');
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 769px) {
	.container {
		width: 70%;
		max-width: 1000px;
		margin: 0 auto;
	}
}
