/* =================================
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #4a4a4a;
	margin: 0;
}

p {
	font-size: 1.25em;
	margin-bottom: 1.5em;
	color: #4a4a4a;
	font-weight: 300;
}

h2,
h3,
a {
	color: #4a4a4a;
}

h2,
h3 {
	margin-top: 0;
	text-align: center;
}

h2 {
	text-transform: uppercase;
}

a {
	text-decoration: none;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */
.name {
	font-size: 1.65em;
	color: #4a4a4a;
	margin-left: 1.1em;
}

ul.main-nav {
	padding-left: 0;
	list-style: none;
}
.name,
.main-nav,
.main-nav li {
	display: block;
	background:none;
}
ul.footer-nav {
  display: inline-block;
  list-style: none;
}

.name,
.main-nav li {
	text-align: center;
	margin-top: 6px;
	margin-bottom: 6px;
}

.main-nav li {
	background: #fff;
}
.main-nav a {
	font-size: 1.1em;
	color: #4a4a4a;
	font-weight: bold;
	text-transform: uppercase;
}

.main-nav a:hover {
	color: #7a7a7a;
}

.name a,
.main-nav a {
	padding: 10px 15px;
	display: block;
}

.footer-name,
.footer-nav li {
	/*text-align: center;*/
	margin-top: 6px;
	margin-bottom: 6px;
	float: left;
}

.footer-name,
.footer-nav a {
	padding: 10px 10px;
	text-align: center;
	display: block;
}

/* ---- Layout Containers ---- */

.container {
	padding-left: 1em;
	padding-right: 1em;
	text-align: center;
}
.main-header {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	background: #fafafa;
	margin-bottom: 30px;
	text-align: center;
}
.col {
	padding-left: 1em;
	padding-right: 1em;
}
.main-footer {
	padding: 2em 2em;;
	background: #fafafa;
}
.socket {
	border-top: 1px solid #dddddd;
	width: 80%;
	margin: 0 auto;
	padding: 1em 0 1em 0;
}

/* ---- Page Elements ---- */
.one {
	background: #fafafa;
}
.img {
	width: 100%;
	margin-top: 5px;
	margin-bottom: 25px;
	padding: 10px;
}
.three {
	text-align: center;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 769px) {

	.wrap {
		min-height: calc(100vh - 89px);
	}

	.container {
		width: 85%;
		max-width: 1150px;
		margin: 0 auto;
	}

	.main-nav {
		float: right;
	}

	.name,
	.main-nav li {
		float:left;
	}

	.main-nav li {
		margin-left: 12px;
	}

	.name,
	.main-nav,
	.main-nav li {
		display: inline-block;
		background:none;
	}

	.name {
		width: 240px;
		margin-right: 50px;
	}
	.row {
		width:100%;
		margin: 0 auto;
		margin-bottom: 50px;
	}
	.col {
		padding-left: 1em;
		padding-right: 1em;
	}
	.col-4 {
		display: inline-block;
		width: 33%;
		text-align: center;
		font-size: 1.1em;
		/*background: rgba(217, 228, 234, 0.5);*/
	}
	.col-6 {
		width: 50%;
		margin-right: -4px;
		vertical-align: top;
	}
	.primary {
		float: right;
	}
	.secondary {
		float: left;
	}
	.img {
		width: 100%;
	  margin-top: 5px;
	  margin-bottom: 25px;
	  padding: 10px;
	}
	.three {
		text-align: center;
		background: #fafafa;
	}
	.footer-name {
		float:left;
	}
	.footer-nav {
		float:right;
		list-style:none;
		text-transform: uppercase;
	}
	.main-footer {
		padding: 2em 2em;;
		background: #fafafa;
	}
	.three p {
		padding: 0 22em;
	}
	.clearfix::after {
		content: "";
		display: table;
		clear: both;
	}
}
