.container {
	padding-left: 1em;
	padding-right: 1em;
}

/* ---- Page Elements ---- */

.img {
	width: 100%;
	margin-top: 5px;
	margin-bottom: 25px;
	padding: 10px;
}
.two {
	text-align: center;
}
.three {
	@extend .two;
}