.main-footer {
	padding: 2em 2em;
	background: $bg-footer;
}

.footer-nav {
	float:right;
	list-style:none;
	text-transform: uppercase;
	margin-top: 6px;
	margin-bottom: 6px;
}

.socket {
	border-top: 1px solid #dddddd;
	width: 90%;
	margin: 0 auto;
	padding: 1em 0 1em 0;
}