.main-header {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	background: $bg-footer;
	margin-bottom: 30px;
	text-align: center;
}

/* ---- Navigation ---- */

.main-heading,
.main-nav,
.main-nav li {
	display: block;
	background:none;
	padding-left: 0;
}

// Use Sass Nesting
ul {
	.main-nav, .footer-nav {
		list-style: none;
	}
	.main-nav {
		padding-left: 0;
	}
	.footer-nav {
		display: inline-block;
	}
}

.main-heading {
	margin-top: 6px;
	margin-bottom: 6px;
}
.main-nav {
	li {
		@extend .main-heading;
		background: #fff;
	}
	a {
		font-size: $text-size * 1.8;
		color: $text-color;
		font-weight: bold;
		text-transform: uppercase;
	}
	& a:hover {
		color: #7a7a7a;
	}
}

.main-heading a,
.main-nav a {
	padding: 10px 0px;
	display: block;
}

.footer-name,
.footer-nav li {
	margin-top: 6px;
	margin-bottom: 6px;
	float: left;
}

.footer-name,
.footer-nav a {
	padding: 10px 10px;
	display: block;
}