// Variables

$text-color: #4a4a4a;
$link-color: rgb(255, 169, 73);
$hover-color: rgba(255, 169, 73, 0.5);
$active-color: lightcoral;
$nav-color: #4a4a4a;
$hover-nav: #7a7a7a;
$text-size: 10px;
$font-stack: 'Varela Round', sans-serif;
$bg-footer: #fafafa;


// Media Queries

$brk-narrow     : '(min-width: 768px)';
$brk-wide       : '(min-width: 1024px)';